{% if resource.video is defined and resource.video %}
    <div class="video-pp">

        {% set handler = mediamanager.getHandler(resource.video) %}
        {% set helper = handler.getFormHelper(resource.video) %}

        {% if helper.type == 'youtube' %}
            {% set videoEmbedUrl = "//www.youtube.com/embed/" ~ helper.code%}
        {% elseif helper.type == 'vimeo' %}
            {% set videoEmbedUrl = "//player.vimeo.com/video/" ~ helper.code %}
        {% elseif helper.type == 'dailymotion' %}
            {% set videoEmbedUrl = "//www.dailymotion.com/embed/video/" ~ helper.code%}
        {% endif %}

        <div class="videolink">
            <div class="embed-container">
	            <div style="width: {{ resource.videoWidth }}%; height: {{ resource.videoHeight }}%">
		            <iframe src='{{ videoEmbedUrl }}' autoplay="false" frameborder='0' allowfullscreen></iframe>
		            {% if resource.caption %}
			            <figcaption>{{ resource.caption }}</figcaption>
		            {% endif %}
	            </div>
            </div>
        </div>

    </div>
{% endif %}

{% block head_styles %}
	{% stylesheets
	'assets/new/css/components/pageparts/video-pp.css'
	filter='cssrewrite,?uglifycss'
	package='zizoo'
	%}
	<link rel="stylesheet" href="{{ asset(asset_url, 'zizoo') }}?{{ assets_version() }}">
	{% endstylesheets %}
{% endblock %}