<div id="{{ resource.id }}-map-pp" class="map-pp">
    {% if resource.mapRoute is not empty %}
	    <div id="{{ resource.id }}-map-container" class="map-pp-map-container"></div>
    {% endif %}
</div>

{% block head_styles %}
	{% stylesheets
	'assets/new/css/components/pageparts/map-pp.css'
	filter='cssrewrite,?uglifycss'
	package='zizoo'
	%}
	<link rel="stylesheet" href="{{ asset(asset_url, 'zizoo') }}?{{ assets_version() }}">
	{% endstylesheets %}
{% endblock %}

<script>
	var googleApiKey = '{{ google_api_key }}'
	{% if resource.mapRoute is not empty %}
		var mapRouteLocations_{{ resource.id }} = {
			{% if resource.mapRoute.mapRouteLocations|length > 0 %}
				{% set counter = resource.mapRoute.mapRouteLocations|length %}
				{% for mapRouteLocation in resource.mapRoute.mapRouteLocations %}
					{{ mapRouteLocation.dayNumber }} : { lat: {{ mapRouteLocation.region.lat }}, lng: {{ mapRouteLocation.region.lng }} }
					{% if counter > 1 %}
						,
					{% endif %}
				{% endfor %}
			{% endif %}
		};
	{% endif %}
</script>