{{ form_start(form) }}
<div class="half left cf">
	{{ form_widget(form.name) }}
	{{ form_widget(form.country) }}
</div>
<div class="half right cf">
	{{ form_widget(form.email_from) }}
	{{ form_widget(form.phone_number) }}
</div>
{{ form_widget(form.message) }}
{{ form_rest(form) }}
{{ form_widget(form.send) }}
{{ form_end(form) }}